@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    background-color: rgb(32, 18, 18);
}
body{
    font-family: 'Montserrat', sans-serif;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }
.cursor{
    width:20px;
    height: 20px;
    border: 2px solid cyan;
    border-radius: 50%;
    position: absolute;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

li,a,button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    border: solid  rgba(0,136,169,1);
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0%;
}
.logo{
    cursor: pointer;
}
.links{
    list-style: none;
}
.links li{
    display: inline-block;
    padding: 0px 20px;
}
.links li a{
    transition: all 0.3s ease 0s;
}
.links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
h1{
    color: #edf0f1;
}
p{
    color: #edf0f1;
}