*{
    text-align: center;
}


body{
    background-color: black;
    color: palegreen;
    font-family: 'Montserrat', sans-serif;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }

.click_pad{
    height: 200px;
    width: 30%;
}

#box{
    background-color: azure;
    width: 20px;
    height: 200px;
    border-radius: 15px;
    float: right;
}

#cps{
    float: bottom;
    position: relative;
}

#bar{
    background-color: orangered;
    position: relative;
    float: right;
    overflow: hidden;
    border-radius: 15px;
    width: 20px;
}

.side {
    display: inline;
}

header{
    display: flex;
    border: solid  rgba(0,136,169,1);
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0%;
}

.logo{
    cursor: pointer;
}
.links{
    list-style: none;
    color: white;
}
.links li{
    display: inline-block;
    padding: 0px 20px;
}
.links li a{
    transition: all 0.3s ease 0s;
}
.links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}

li,a,button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}